# RCS SQL Intro

# SQL - Structured Query Language
Domain-specific language used in programming and designed for managing data held in a relational database management system (RDBMS)

# History
* Set Theory
* Edgar F. Cobb Relation Model 1970 (later https://en.wikipedia.org/wiki/Codd%27s_12_rules)
* Normalforms (Informally, a relational database relation is often described as "normalized" if it meets third normal form. Most 3NF relations are free of insertion, update, and deletion anomalies.)
* ACID (Atomicity, Consistency, Isolation, Durability) 
* Future




* CREATE
* INSERT
* UPDATE
* DELETE

* SELECT

(In general programming CRUD (Create,Read,Update,Delete))

# SQL Lite - Embedded SQL Database
###  https://www.sqlite.org/index.html
![SQL](https://www.sqlite.org/images/sqlite370_banner.gif)

* simple single user DB adhering to SQL standard
* up to 140TB in a single file

## SQLite vs other SQL databases (MySQL, Postegres, Oracle, Microsoft SQL server)
https://www.sqlite.org/whentouse.html

* https://www.mysql.com/ (Bought by Oracle, but still open source)
* MySQL fork: https://mariadb.org/
* https://www.postgresql.org/
* https://www.microsoft.com/en-us/sql-server

## Resources / books / tutorials / online viewers

### Books


 * https://www.amazon.com/Learning-SQL-Master-Fundamentals/dp/0596520832
 * https://www.amazon.com/Head-First-SQL-Brain-Learners/dp/0596526849
 * For manga lovers: https://www.amazon.com/Manga-Guide-Databases-Mana-Takahashi/dp/1593271905
 
Online
 * https://sqliteonline.com/

 * https://www.python-course.eu/sql_python.php      
 * [SchemaCrawler](https://www.schemacrawler.com/diagramming.html) - for crawling db schemas lot of yak shaving involved
 * https://www.danielms.site/blog/sqlite3-primer/
 * https://sqlzoo.net/ - great practice tool

In [ ]:
# Many ways to use SQL (command line, varius GUIs) ORM
# we'll use it embedded in Python

In [1]:
import sqlite3

In [2]:
db = sqlite3.connect('./db/chinook.db')

In [3]:
# prepare a cursor object using cursor() method
cursor = db.cursor()

In [28]:
# sample database Chinook
# fork at https://github.com/ValRCS/chinook-database
# good tutorials at http://www.sqlitetutorial.net/sqlite-python/

![CHINOOK STRUCTURE](sqlite-sample-database-color.jpg)

In [ ]:
# Open question on easiest way to visualize table schema: https://stackoverflow.com/questions/433071/good-tool-to-visualise-database-schema

## Chinook sample database tables
### There are 11 tables in the chinook sample database

*  employees table stores employees data such as employee id, last name, first name, etc. It also has a field named ReportsTo to specify who reports to whom.
*  customers table stores customers data.
*  invoices & invoice_items tables: these two tables store invoice data. The invoices table stores invoice header data and the invoice_items table stores the invoice line items data.
*  artists table stores artists data. It is a simple table that contains only artist id and name.
*  albums table stores data about a list of tracks. Each album belongs to one artist. However, one artist may have multiple albums.
*  media_types table stores media types such as MPEG audio file, ACC audio file, etc.
*  genres table stores music types such as rock, jazz, metal, etc.
*  tracks table store the data of songs. Each track belongs to one album.
*  playlists & playlist_track tables: playlists table store data about playlists. Each playlist contains a list of tracks. Each track may belong to multiple playlists. The relationship between the playlists table and tracks table is many-to-many. The playlist_track table is used to reflect this relationship.

### SELECT DISTINCT column_list

### FROM table_list

###   JOIN table ON join_condition
  
### WHERE row_filter

### ORDER BY column

### LIMIT count OFFSET offset

### GROUP BY column

### HAVING group_filter

* Use ORDER BY clause to sort the result set
* Use DISTINCT clause to query unique rows in a table
* Use WHERE clause to filter rows in the result set
* Use LIMIT OFFSET clauses to constrain the number of rows returned
* Use INNER JOIN or LEFT JOIN to query data from multiple tables using join.
* Use GROUP BY to get the group rows into groups and apply aggregate function for each group.
* Use HAVING clause to filter groups

In [4]:
cursor.execute("SELECT * FROM artists");
results = cursor.fetchall()
type(results)

list

In [5]:
len(results)

275

In [6]:
results[:5]

[(1, 'AC/DC'),
 (2, 'Accept'),
 (3, 'Aerosmith'),
 (4, 'Alanis Morissette'),
 (5, 'Alice In Chains')]

In [ ]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

In [14]:
cursor.execute("""SELECT * FROM tracks
    WHERE milliseconds > 60*10*1000
    ORDER BY milliseconds DESC
    LIMIT 10;
""")
res = cursor.fetchall()
len(res)

10

In [3]:
import pandas as pd

In [4]:
df = pd.read_sql_query("SELECT * from invoices", db)
df.head()

,InvoiceId,CustomerId,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total
0,1,2,2009-01-01 00:00:00,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,1.98
1,2,4,2009-01-02 00:00:00,Ullevålsveien 14,Oslo,None,Norway,0171,3.96
2,3,8,2009-01-03 00:00:00,Grétrystraat 63,Brussels,None,Belgium,1000,5.94
3,4,14,2009-01-06 00:00:00,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,8.91
4,5,23,2009-01-11 00:00:00,69 Salem Street,Boston,MA,USA,2113,13.86

In [26]:
len(df)

412

In [6]:
composerdf = pd.read_sql_query("""SELECT composer, 
count(composer), 
ROUND(AVG(milliseconds)/1000,2) as sec,
MIN(milliseconds)/1000 shortie,
MAX(milliseconds)/1000 longestsong,
ROUND(SUM(unitprice),2) total
FROM tracks 
GROUP BY composer
--ORDER BY seconds DESC;
ORDER BY count(composer) DESC;""",db)
composerdf.head()

          Composer  count(composer)     sec  shortie  longestsong  total
0     Steve Harris               80  340.21      105          678  79.20
1               U2               44  256.18      153          351  43.56
2  Jagger/Richards               35  247.63       49          479  34.65
3     Billy Corgan               31  255.24      161          473  30.69
4      Kurt Cobain               26  193.48       52          301  25.74

In [7]:
tracks = pd.read_sql_query("SELECT * FROM tracks", db)
tracks.head()

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99
2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
3,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
4,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99

In [9]:
composergroup = tracks.groupby('Composer')
composergroup.head()

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99
2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
3,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
4,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99
5,6,Put The Finger On You,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205662,6713451,0.99
6,7,Let's Get It Up,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",233926,7636561,0.99
7,8,Inject The Venom,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",210834,6852860,0.99
8,9,Snowballed,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",203102,6599424,0.99
14,15,Go Down,4,1,1,AC/DC,331180,10847611,0.99
15,16,Dog Eat Dog,4,1,1,AC/DC,215196,7032162,0.99
16,17,Let There Be Rock,4,1,1,AC/DC,366654,12021261,0.99
17,18,Bad Boy Boogie,4,1,1,AC/DC,267728,8776140,0.99
18,19,Problem Child,4,1,1,AC/DC,325041,10617116,0.99
22,23,Walk On Water,5,1,1,"Steven Tyler, Joe Perry, Jack Blades, Tommy Shaw",295680,9719579,0.99
23,24,Love In An Elevator,5,1,1,"Steven Tyler, Joe Perry",321828,10552051,0.99
24,25,Rag Doll,5,1,1,"Steven Tyler, Joe Perry, Jim Vallance, Holly K...",264698,8675345,0.99
25,26,What It Takes,5,1,1,"Steven Tyler, Joe Perry, Desmond Child",310622,10144730,0.99
26,27,Dude (Looks Like A Lady),5,1,1,"Steven Tyler, Joe Perry, Desmond Child",264855,8679940,0.99
27,28,Janie's Got A Gun,5,1,1,"Steven Tyler, Tom Hamilton",330736,10869391,0.99
28,29,Cryin',5,1,1,"Steven Tyler, Joe Perry, Taylor Rhodes",309263,10056995,0.99
29,30,Amazing,5,1,1,"Steven Tyler, Richie Supa",356519,11616195,0.99
30,31,Blind Man,5,1,1,"Steven Tyler, Joe Perry, Taylor Rhodes",240718,7877453,0.99
31,32,Deuces Are Wild,5,1,1,"Steven Tyler, Jim Vallance",215875,7074167,0.99
32,33,The Other Side,5,1,1,"Steven Tyler, Jim Vallance",244375,7983270,0.99
33,34,Crazy,5,1,1,"Steven Tyler, Joe Perry, Desmond Child",316656,10402398,0.99
34,35,Eat The Rich,5,1,1,"Steven Tyler, Joe Perry, Jim Vallance",251036,8262039,0.99
35,36,Angel,5,1,1,"Steven Tyler, Desmond Child",307617,9989331,0.99
36,37,Livin' On The Edge,5,1,1,"Steven Tyler, Joe Perry, Mark Hudson",381231,12374569,0.99
37,38,All I Really Want,6,1,1,Alanis Morissette & Glenn Ballard,284891,9375567,0.99
...,...,...,...,...,...,...,...,...,...
3460,3461,Tears Dry On Their Own,321,2,14,Nickolas Ashford & Valerie Simpson,185293,2996598,0.99
3461,3462,Wake Up Alone,321,2,14,Paul O'duffy,221413,3576773,0.99
3463,3464,He Can Only Hold Her,321,2,14,Richard Poindexter & Robert Poindexter,166680,2666531,0.99
3468,3469,F**k Me Pumps,322,2,9,Salaam Remi,200253,3324343,0.99
3470,3471,(There Is) No Greater Love (Teo Licks),322,2,9,Isham Jones & Marty Symes,167933,2773507,0.99
3471,3472,In My Bed,322,2,9,Salaam Remi,315960,5211774,0.99
3472,3473,Take the Box,322,2,9,Luke Smith,199160,3281526,0.99
3473,3474,October Song,322,2,9,Matt Rowe & Stefan Skarbek,204846,3358125,0.99
3474,3475,What Is It About Men,322,2,9,"Delroy ""Chris"" Cooper, Donovan Jackson, Earl C...",209573,3426106,0.99
3475,3476,Help Yourself,322,2,9,"Freddy James, Jimmy hogarth & Larry Stock",300884,5029266,0.99
3476,3477,Amy Amy Amy (Outro),322,2,9,"Astor Campbell, Delroy ""Chris"" Cooper, Donovan...",663426,10564704,0.99
3478,3479,"Prometheus Overture, Op. 43",324,4,24,Ludwig van Beethoven,339567,10887931,0.99
3479,3480,Sonata for Solo Violin: IV: Presto,325,4,24,Béla Bartók,299350,9785346,0.99
3482,3483,"Concert pour 4 Parties de V**les, H. 545: I. P...",328,2,24,Marc-Antoine Charpentier,110266,1973559,0.99
3483,3484,Adios nonino,329,2,24,Astor Piazzolla,289388,4781384,0.99
3484,3485,Symphony No. 3 Op. 36 for Orchestra and Sopran...,330,2,24,Henryk Górecki,567494,9273123,0.99
3485,3486,"Act IV, Symphony",331,2,24,Henry Purcell,364296,5987695,0.99
3486,3487,"3 Gymnopédies: No.1 - Lent Et Grave, No.3 - Le...",332,2,24,Erik Satie,385506,6458501,0.99
3487,3488,"Music for the Funeral of Queen Mary: VI. ""Thou...",333,2,24,Henry Purcell,142081,2365930,0.99
3488,3489,Symphony No. 2: III. Allegro vivace,334,2,24,Kurt Weill,376510,6129146,0.99
3490,3491,Le Sacre Du Printemps: I.iv. Spring Rounds,336,2,24,Igor Stravinsky,234746,4072205,0.99
3491,3492,Sing Joyfully,314,2,24,William Byrd,133768,2256484,0.99
3492,3493,"Metopes, Op. 29: Calypso",337,2,24,Karol Szymanowski,333669,5548755,0.99
3493,3494,"Symphony No. 2, Op. 16 - ""The Four Temperamen...",338,2,24,Carl Nielsen,286998,4834785,0.99
3494,3495,"24 Caprices, Op. 1, No. 24, for Solo Violin, i...",339,2,24,Niccolò Paganini,265541,4371533,0.99
3497,3498,"Concerto for Violin, Strings and Continuo in G...",342,4,24,Pietro Antonio Locatelli,493573,16454937,0.99
3499,3500,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",344,2,24,Franz Schubert,139200,2283131,0.99
3500,3501,"L'orfeo, Act 3, Sinfonia (Orchestra)",345,2,24,Claudio Monteverdi,66639,1189062,0.99
3501,3502,"Quintet for Horn, Violin, 2 Violas, and Cello ...",346,2,24,Wolfgang Amadeus Mozart,221331,3665114,0.99
3502,3503,Koyaanisqatsi,347,2,10,Philip Glass,206005,3305164,0.99

In [12]:
composergroup['Milliseconds']

In [27]:
tracks.groupby('Composer').count().sort_values(by="TrackId",ascending=False).head()

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Milliseconds,Bytes,UnitPrice
Composer,,,,,,,,
Steve Harris,80,80,80,80,80,80,80,80
U2,44,44,44,44,44,44,44,44
Jagger/Richards,35,35,35,35,35,35,35,35
Billy Corgan,31,31,31,31,31,31,31,31
Kurt Cobain,26,26,26,26,26,26,26,26

In [29]:
tracks.groupby('Composer').mean().sort_values(by="Milliseconds",ascending=False).head()

,TrackId,AlbumId,MediaTypeId,GenreId,Milliseconds,Bytes,UnitPrice
Composer,,,,,,,
Blackmore/Gillan/Glover/Lord/Paice,620.0,50.0,1.0,1.0,1196094.0,39267613.0,0.99
Jimmy Page/Led Zeppelin,1581.0,127.0,1.0,1.0,1116734.0,36052247.0,0.99
Gillan/Glover/Lord/Nix - Blackmore/Paice,621.0,50.0,1.0,1.0,913658.0,29846063.0,0.99
John Bonham/John Paul Jones/Robert Plant/Willie Dixon,1670.0,138.0,1.0,1.0,863895.0,28191437.0,0.99
Blackmore/Coverdale,622.0,50.0,1.0,1.0,854700.0,27775442.0,0.99

In [13]:
tracks.groupby('Composer')['Milliseconds'].count()

Composer
A. F. Iommi, W. Ward, T. Butler, J. Osbourne                     3
A. Jamal                                                         1
A.Bouchard/J.Bouchard/S.Pearlman                                 1
A.Isbell/A.Jones/O.Redding                                       1
AC/DC                                                            8
Aaron Copland                                                    1
Aaron Goldberg                                                   1
Ace Frehley                                                      2
Acyi Marques/Arlindo Bruz/Braço, Beto Sem/Zeca Pagodinho         1
Acyr Marques/Arlindo Cruz/Franco                                 1
Adalto Magalha/Lourenco                                          1
Adam Clayton, Bono, Larry Mullen & The Edge                     11
Adam Clayton, Bono, Larry Mullen, The Edge                      11
Addie William Jones/Nat Jones                                    1
Adrian Smith                                                     5
Adrian Smith/Bruce Dickinson                                     6
Adrian Smith/Bruce Dickinson/Nicko McBrain                       1
Adrian Smith/Bruce Dickinson/Steve Harris                        8
Adrian Smith/Clive Burr/Steve Harris                             1
Adrian Smith/Steve Harris                                        5
Adrian Smith; Bruce Dickinson                                    1
Adrian Smith; Bruce Dickinson; Steve Harris                      3
Adrian Vanderberg/David Coverdale                                1
Adriano Bernandes/Edmar Neves                                    1
Al Cleveland/Marvin Gaye/Renaldo Benson                          1
Al Perkins/Willie Dixon                                          1
Alanis Morissette & Glenn Ballard                               13
Alba Carvalho/Fernando Porto                                     1
Albert King                                                      1
Alcides Dias Lopes                                               1
                                                                ..
William "Mickey" Stevenson                                       1
William Byrd                                                     1
Willie Dixon                                                     8
Willie Dixon, C. Burnett                                         1
Wolfgang Amadeus Mozart                                          5
Wright, Waters                                                   1
alan bergman/marilyn bergman/peggy lipton jones/quincy jones     1
antonio carlos jobim/norman gimbel/vinicius de moraes            1
bart howard                                                      1
bert brecht/kurt weill/marc blitzstein                           1
berthold kaempfert/charles singleton/eddie snyder                1
carl sigman/gilbert becaud/pierre leroyer                        1
carolyn leigh/cy coleman                                         1
carson c. parks                                                  1
claude françois/gilles thibault/jacques revaux/paul anka         1
cole porter                                                      2
dean kay thompson/kelly gordon                                   1
ervin drake                                                      1
fred ebb/john kander                                             1
george gershwin/ira gershwin                                     1
hans bradtke/heinz meier/johnny mercer                           1
henry mancini/johnny mercer                                      1
ian paice/jon lord                                               1
jim croce                                                        1
jimmy van heusen/sammy cahn                                      3
jon lord/roger glover                                            2
lorenz hart/richard rodgers                                      1
orlando murden/ronald miller                                     1
rod mckuen                                                       1
roger glover                                                     7
Name: Milliseconds, Length: 852, dtype: int64

In [8]:
tracks.groupby('Composer').describe().T

Composer            A. F. Iommi, W. Ward, T. Butler, J. Osbourne    A. Jamal  \
TrackId      count                                  3.000000e+00        1.00
             mean                                   2.108000e+03     1908.00
             std                                    1.000000e+00         NaN
             min                                    2.107000e+03     1908.00
             25%                                    2.107500e+03     1908.00
             50%                                    2.108000e+03     1908.00
             75%                                    2.108500e+03     1908.00
             max                                    2.109000e+03     1908.00
AlbumId      count                                  3.000000e+00        1.00
             mean                                   1.740000e+02      157.00
             std                                    0.000000e+00         NaN
             min                                    1.740000e+02      157.00
             25%                                    1.740000e+02      157.00
             50%                                    1.740000e+02      157.00
             75%                                    1.740000e+02      157.00
             max                                    1.740000e+02      157.00
MediaTypeId  count                                  3.000000e+00        1.00
             mean                                   1.000000e+00        1.00
             std                                    0.000000e+00         NaN
             min                                    1.000000e+00        1.00
             25%                                    1.000000e+00        1.00
             50%                                    1.000000e+00        1.00
             75%                                    1.000000e+00        1.00
             max                                    1.000000e+00        1.00
GenreId      count                                  3.000000e+00        1.00
             mean                                   3.000000e+00        2.00
             std                                    0.000000e+00         NaN
             min                                    3.000000e+00        2.00
             25%                                    3.000000e+00        2.00
             50%                                    3.000000e+00        2.00
             75%                                    3.000000e+00        2.00
             max                                    3.000000e+00        2.00
Milliseconds count                                  3.000000e+00        1.00
             mean                                   2.351797e+05   276871.00
             std                                    1.055787e+05         NaN
             min                                    1.721200e+05   276871.00
             25%                                    1.742360e+05   276871.00
             50%                                    1.763520e+05   276871.00
             75%                                    2.667095e+05   276871.00
             max                                    3.570670e+05   276871.00
Bytes        count                                  3.000000e+00        1.00
             mean                                   7.655451e+06  8980400.00
             std                                    3.439761e+06         NaN
             min                                    5.609799e+06  8980400.00
             25%                                    5.669806e+06  8980400.00
             50%                                    5.729813e+06  8980400.00
             75%                                    8.678276e+06  8980400.00
             max                                    1.162674e+07  8980400.00
UnitPrice    count                                  3.000000e+00        1.00
             mean                                   9.900000e-01        0.99
             std                                    1.359740e-16         NaN
             min                                    9.900000e-01        0.99
             25%                                    9.900000e-01        0.99
             50%                                    9.900000e-01        0.99
             75%                                    9.900000e-01        0.99
             max                                    9.900000e-01        0.99

Composer            A.Bouchard/J.Bouchard/S.Pearlman  \
TrackId      count                              1.00
             mean                             415.00
             std                                 NaN
             min                              415.00
             25%                              415.00
             50%                              415.00
             75%                              415.00
             max                              415.00
AlbumId      count                              1.00
             mean                              35.00
             std                                 NaN
             min                               35.00
             25%                               35.00
             50%                               35.00
             75%                               35.00
             max                               35.00
MediaTypeId  count                              1.00
             mean                               1.00
             std                                 NaN
             min                                1.00
             25%                                1.00
             50%                                1.00
             75%                                1.00
             max                                1.00
GenreId      count                              1.00
             mean                               3.00
             std                                 NaN
             min                                3.00
             25%                                3.00
             50%                                3.00
             75%                                3.00
             max                                3.00
Milliseconds count                              1.00
             mean                          397531.00
             std                                 NaN
             min                           397531.00
             25%                           397531.00
             50%                           397531.00
             75%                           397531.00
             max                           397531.00
Bytes        count                              1.00
             mean                        13065612.00
             std                                 NaN
             min                         13065612.00
             25%                         13065612.00
             50%                         13065612.00
             75%                         13065612.00
             max                         13065612.00
UnitPrice    count                              1.00
             mean                               0.99
             std                                 NaN
             min                                0.99
             25%                                0.99
             50%                                0.99
             75%                                0.99
             max                                0.99

Composer            A.Isbell/A.Jones/O.Redding         AC/DC  Aaron Copland  \
TrackId      count                        1.00  8.000000e+00           1.00
             mean                      2589.00  1.850000e+01        3427.00
             std                           NaN  2.449490e+00            NaN
             min                       2589.00  1.500000e+01        3427.00
             25%                       2589.00  1.675000e+01        3427.00
             50%                       2589.00  1.850000e+01        3427.00
             75%                       2589.00  2.025000e+01        3427.00
             max                       2589.00  2.200000e+01        3427.00
AlbumId      count                        1.00  8.000000e+00           1.00
             mean                       210.00  4.000000e+00         296.00
             std                           NaN  0.000000e+00            NaN
             min                        210.00  4.000000e+00         296.00
             25%                        210.00  4.000000e+00         296.00
             50%                        210.00  4.000000e+00         296.00
             75%                        210.00  4.000000e+00         296.00
             max                        210.00  4.000000e+00         296.00
MediaTypeId  count                        1.00  8.000000e+00           1.00
             mean                         1.00  1.000000e+00           2.00
             std                           NaN  0.000000e+00            NaN
             min                          1.00  1.000000e+00           2.00
             25%                          1.00  1.000000e+00           2.00
             50%                          1.00  1.000000e+00           2.00
             75%                          1.00  1.000000e+00           2.00
             max                          1.00  1.000000e+00           2.00
GenreId      count                        1.00  8.000000e+00           1.00
             mean                         6.00  1.000000e+00          24.00
             std                           NaN  0.000000e+00            NaN
             min                          6.00  1.000000e+00          24.00
             25%                          6.00  1.000000e+00          24.00
             50%                          6.00  1.000000e+00          24.00
             75%                          6.00  1.000000e+00          24.00
             max                          6.00  1.000000e+00          24.00
Milliseconds count                        1.00  8.000000e+00           1.00
             mean                    206994.00  3.066574e+05      198064.00
             std                           NaN  5.525464e+04            NaN
             min                     206994.00  2.151960e+05      198064.00
             25%                     206994.00  2.643910e+05      198064.00
             50%                     206994.00  3.244010e+05      198064.00
             75%                     206994.00  3.400485e+05      198064.00
             max                     206994.00  3.693190e+05      198064.00
Bytes        count                        1.00  8.000000e+00           1.00
             mean                   6786304.00  1.002988e+07     3211245.00
             std                           NaN  1.806223e+06            NaN
             min                    6786304.00  7.032162e+06     3211245.00
             25%                    6786304.00  8.664926e+06     3211245.00
             50%                    6786304.00  1.058214e+07     3211245.00
             75%                    6786304.00  1.114102e+07     3211245.00
             max                    6786304.00  1.206629e+07     3211245.00
UnitPrice    count                        1.00  8.000000e+00           1.00
             mean                         0.99  9.900000e-01           0.99
             std                           NaN  1.186878e-16            NaN
             min                          0.99  9.900000e-01           0.99
             25%                          0.99  9.900000e-01           0.99
             50%                          0.99  9.900000e-01           0.99
             75%                          0.99  9.900000e-01           0.99
             max                          0.99  9.900000e-01           0.99

Composer            Aaron Goldberg   Ace Frehley  \
TrackId      count            1.00  2.000000e+00
             mean          3357.00  4.480000e+02
             std               NaN  7.071068e+00
             min           3357.00  4.430000e+02
             25%           3357.00  4.455000e+02
             50%           3357.00  4.480000e+02
             75%           3357.00  4.505000e+02
             max           3357.00  4.530000e+02
AlbumId      count            1.00  2.000000e+00
             mean           267.00  3.700000e+01
             std               NaN  0.000000e+00
             min            267.00  3.700000e+01
             25%            267.00  3.700000e+01
             50%            267.00  3.700000e+01
             75%            267.00  3.700000e+01
             max            267.00  3.700000e+01
MediaTypeId  count            1.00  2.000000e+00
             mean             5.00  1.000000e+00
             std               NaN  0.000000e+00
             min              5.00  1.000000e+00
             25%              5.00  1.000000e+00
             50%              5.00  1.000000e+00
             75%              5.00  1.000000e+00
             max              5.00  1.000000e+00
GenreId      count            1.00  2.000000e+00
             mean             2.00  1.000000e+00
             std               NaN  0.000000e+00
             min              2.00  1.000000e+00
             25%              2.00  1.000000e+00
             50%              2.00  1.000000e+00
             75%              2.00  1.000000e+00
             max              2.00  1.000000e+00
Milliseconds count            1.00  2.000000e+00
             mean        266936.00  2.447670e+05
             std               NaN  2.471480e+04
             min         266936.00  2.272910e+05
             25%         266936.00  2.360290e+05
             50%         266936.00  2.447670e+05
             75%         266936.00  2.535050e+05
             max         266936.00  2.622430e+05
Bytes        count            1.00  2.000000e+00
             mean       4292028.00  8.069560e+06
             std               NaN  7.639914e+05
             min        4292028.00  7.529336e+06
             25%        4292028.00  7.799448e+06
             50%        4292028.00  8.069560e+06
             75%        4292028.00  8.339671e+06
             max        4292028.00  8.609783e+06
UnitPrice    count            1.00  2.000000e+00
             mean             0.99  9.900000e-01
             std               NaN  0.000000e+00
             min              0.99  9.900000e-01
             25%              0.99  9.900000e-01
             50%              0.99  9.900000e-01
             75%              0.99  9.900000e-01
             max              0.99  9.900000e-01

Composer            Acyi Marques/Arlindo Bruz/Braço, Beto Sem/Zeca Pagodinho  \
TrackId      count                                               1.00
             mean                                             3159.00
             std                                                  NaN
             min                                              3159.00
             25%                                              3159.00
             50%                                              3159.00
             75%                                              3159.00
             max                                              3159.00
AlbumId      count                                               1.00
             mean                                              248.00
             std                                                  NaN
             min                                               248.00
             25%                                               248.00
             50%                                               248.00
             75%                                               248.00
             max                                               248.00
MediaTypeId  count                                               1.00
             mean                                                1.00
             std                                                  NaN
             min                                                 1.00
             25%                                                 1.00
             50%                                                 1.00
             75%                                                 1.00
             max                                                 1.00
GenreId      count                                               1.00
             mean                                                7.00
             std                                                  NaN
             min                                                 7.00
             25%                                                 7.00
             50%                                                 7.00
             75%                                                 7.00
             max                                                 7.00
Milliseconds count                                               1.00
             mean                                           299102.00
             std                                                  NaN
             min                                            299102.00
             25%                                            299102.00
             50%                                            299102.00
             75%                                            299102.00
             max                                            299102.00
Bytes        count                                               1.00
             mean                                         10012231.00
             std                                                  NaN
             min                                          10012231.00
             25%                                          10012231.00
             50%                                          10012231.00
             75%                                          10012231.00
             max                                          10012231.00
UnitPrice    count                                               1.00
             mean                                                0.99
             std                                                  NaN
             min                                                 0.99
             25%                                                 0.99
             50%                                                 0.99
             75%                                                 0.99
             max                                                 0.99

Composer            Acyr Marques/Arlindo Cruz/Franco  ...  \
TrackId      count                              1.00  ...
             mean                            3158.00  ...
             std                                 NaN  ...
             min                             3158.00  ...
             25%                             3158.00  ...
             50%                             3158.00  ...
             75%                             3158.00  ...
             max                             3158.00  ...
AlbumId      count                              1.00  ...
             mean                             248.00  ...
             std                                 NaN  ...
             min                              248.00  ...
             25%                              248.00  ...
             50%                              248.00  ...
             75%                              248.00  ...
             max                              248.00  ...
MediaTypeId  count                              1.00  ...
             mean                               1.00  ...
             std                                 NaN  ...
             min                                1.00  ...
             25%                                1.00  ...
             50%                                1.00  ...
             75%                                1.00  ...

In [30]:
albums = pd.read_sql_query("""SELECT albums.title,composer, 
count(composer), 
ROUND(AVG(milliseconds)/1000,2) as sec,
MIN(milliseconds)/1000 shortie,
MAX(milliseconds)/1000 longestsong,
ROUND(SUM(milliseconds)/1000, 2) recordlen,
ROUND(SUM(unitprice),2) total
FROM tracks 
INNER JOIN albums
ON tracks.albumid = albums.albumid
GROUP BY albums.title
--ORDER BY seconds DESC;
--ORDER BY count(composer) DESC;
ORDER BY albums.title;""",db)
albums.head()

,Title,Composer,count(composer),sec,shortie,longestsong,recordlen,total
0,...And Justice For All,"James Hetfield, Lars Ulrich and Cliff Burton",9,436.55,313,588,3928.0,8.91
1,20th Century Masters - The Millennium Collecti...,None,0,287.37,205,390,3448.0,11.88
2,"A Copland Celebration, Vol. I",Aaron Copland,1,198.06,198,198,198.0,0.99
3,A Matter of Life and Death,None,0,432.29,258,564,4755.0,10.89
4,A Real Dead One,Steve Harris,12,298.93,228,471,3587.0,11.88

In [33]:
albums = pd.read_sql_query("""SELECT albums.title,artists.name,composer, 
count(composer), 
ROUND(AVG(milliseconds)/1000,2) as sec,
MIN(milliseconds)/1000 shortie,
MAX(milliseconds)/1000 longestsong,
ROUND(SUM(milliseconds)/1000, 2) recordlen,
ROUND(SUM(unitprice),2) total
FROM tracks 
INNER JOIN albums
ON tracks.albumid = albums.albumid
INNER JOIN artists
ON artists.artistid = albums.artistid
GROUP BY albums.title
--ORDER BY seconds DESC;
--ORDER BY count(composer) DESC;
ORDER BY albums.title;""",db)
albums.head()

,Title,Name,Composer,count(composer),sec,shortie,longestsong,recordlen,total
0,...And Justice For All,Metallica,"James Hetfield, Lars Ulrich and Cliff Burton",9,436.55,313,588,3928.0,8.91
1,20th Century Masters - The Millennium Collecti...,Scorpions,None,0,287.37,205,390,3448.0,11.88
2,"A Copland Celebration, Vol. I",Aaron Copland & London Symphony Orchestra,Aaron Copland,1,198.06,198,198,198.0,0.99
3,A Matter of Life and Death,Iron Maiden,None,0,432.29,258,564,4755.0,10.89
4,A Real Dead One,Iron Maiden,Steve Harris,12,298.93,228,471,3587.0,11.88

In [17]:
tracks = pd.read_sql_query("""
SELECT name, composer, albums.title AS album, milliseconds/1000 as secs FROM tracks 
INNER JOIN albums
ON tracks.albumid = albums.albumid""",db)
tracks.head()

,Name,Composer,album,secs
0,For Those About To Rock (We Salute You),"Angus Young, Malcolm Young, Brian Johnson",For Those About To Rock We Salute You,343
1,Put The Finger On You,"Angus Young, Malcolm Young, Brian Johnson",For Those About To Rock We Salute You,205
2,Let's Get It Up,"Angus Young, Malcolm Young, Brian Johnson",For Those About To Rock We Salute You,233
3,Inject The Venom,"Angus Young, Malcolm Young, Brian Johnson",For Those About To Rock We Salute You,210
4,Snowballed,"Angus Young, Malcolm Young, Brian Johnson",For Those About To Rock We Salute You,203

In [20]:
songs = pd.read_sql_query("""
SELECT t.name, composer, a.title AS Album, art.name as Artist, milliseconds/1000 as secs FROM tracks AS t 
INNER JOIN albums AS a
ON t.albumid = a.albumid
-- DB comment we are joining 3 tables
INNER JOIN artists AS art
ON a.artistid = art.artistid""",db)
songs.head()

,Name,Composer,Album,Artist,secs
0,For Those About To Rock (We Salute You),"Angus Young, Malcolm Young, Brian Johnson",For Those About To Rock We Salute You,AC/DC,343
1,Put The Finger On You,"Angus Young, Malcolm Young, Brian Johnson",For Those About To Rock We Salute You,AC/DC,205
2,Let's Get It Up,"Angus Young, Malcolm Young, Brian Johnson",For Those About To Rock We Salute You,AC/DC,233
3,Inject The Venom,"Angus Young, Malcolm Young, Brian Johnson",For Those About To Rock We Salute You,AC/DC,210
4,Snowballed,"Angus Young, Malcolm Young, Brian Johnson",For Those About To Rock We Salute You,AC/DC,203

In [23]:
buyers = pd.read_sql_query("SELECT invoices.*, \
        c.FirstName, c.LastName FROM invoices \
        JOIN customers AS c \
        ON (invoices.CustomerID = c.CustomerID)\
        ORDER BY LastName", db)
buyers.head()

,InvoiceId,CustomerId,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total,FirstName,LastName
0,34,12,2009-05-23 00:00:00,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,0.99,Roberto,Almeida
1,155,12,2010-11-14 00:00:00,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,1.98,Roberto,Almeida
2,166,12,2010-12-25 00:00:00,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,13.86,Roberto,Almeida
3,221,12,2011-08-25 00:00:00,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,8.91,Roberto,Almeida
4,350,12,2013-03-31 00:00:00,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,1.98,Roberto,Almeida

In [26]:
buyers[buyers['CustomerId'] == 12].sum()

InvoiceId                                                         1694
CustomerId                                                          84
InvoiceDate          2009-05-23 00:00:002010-11-14 00:00:002010-12-...
BillingAddress       Praça Pio X, 119Praça Pio X, 119Praça Pio X, 1...
BillingCity          Rio de JaneiroRio de JaneiroRio de JaneiroRio ...
BillingState                                            RJRJRJRJRJRJRJ
BillingCountry              BrazilBrazilBrazilBrazilBrazilBrazilBrazil
BillingPostalCode    20040-02020040-02020040-02020040-02020040-0202...
Total                                                            37.62
FirstName            RobertoRobertoRobertoRobertoRobertoRobertoRoberto
LastName             AlmeidaAlmeidaAlmeidaAlmeidaAlmeidaAlmeidaAlmeida
dtype: object

In [24]:
buyers.groupby(['CustomerId']).sum()

            InvoiceId  Total
CustomerId
1                1582  39.62
2                1029  37.62
3                1715  39.62
4                1162  39.62
5                1435  40.62
6                1708  49.62
7                1568  42.62
8                1428  37.62
9                1288  37.62
10               1561  37.62
11               1421  37.62
12               1694  37.62
13               1141  37.62
14               1414  37.62
15               1274  38.62
16               1547  37.62
17                994  39.62
18               1680  37.62
19               1127  38.62
20               1813  39.62
21               1260  37.62
22               1533  39.62
23               1393  37.62
24               1666  43.62
25               1526  42.62
26               1386  47.62
27               1659  37.62
28               1519  43.62
29               1792  37.62
30               1239  37.62
31               1512  37.62
32               1372  37.62
33               1645  37.62
34               1092  39.62
35               1778  37.62
36               1225  37.62
37               1498  43.62
38                945  37.62
39               1631  38.62
40               1078  38.62
41               1764  37.62
42               1211  39.62
43               1484  40.62
44               1757  41.62
45               1617  45.62
46               1477  45.62
47               1337  37.62
48               1610  40.62
49               1470  37.62
50               1743  37.62
51               1190  38.62
52               1463  37.62
53               1323  37.62
54               1596  37.62
55               1043  37.62
56               1729  37.62
57               1176  46.62
58               1862  38.62
59                896  36.64

In [27]:
songs = pd.read_sql_query("SELECT tracks.name, tracks.composer, tracks.unitPrice,\
        invoice_items.quantity, albums.title, \
        genres.name\
        FROM tracks \
        JOIN invoice_items \
        ON (tracks.trackid = invoice_items.trackid)\
        JOIN albums \
        ON (tracks.albumID = albums.albumID)\
        JOIN genres\
        ON (tracks.genreID = genres.genreID)", db)
songs.head(35)

,Name,Composer,UnitPrice,Quantity,Title,Name
0,Balls to the Wall,None,0.99,1,Balls to the Wall,Rock
1,Restless and Wild,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",0.99,1,Restless and Wild,Rock
2,Put The Finger On You,"Angus Young, Malcolm Young, Brian Johnson",0.99,1,For Those About To Rock We Salute You,Rock
3,Inject The Venom,"Angus Young, Malcolm Young, Brian Johnson",0.99,1,For Those About To Rock We Salute You,Rock
4,Evil Walks,"Angus Young, Malcolm Young, Brian Johnson",0.99,1,For Those About To Rock We Salute You,Rock
5,Breaking The Rules,"Angus Young, Malcolm Young, Brian Johnson",0.99,1,For Those About To Rock We Salute You,Rock
6,Dog Eat Dog,AC/DC,0.99,1,Let There Be Rock,Rock
7,Overdose,AC/DC,0.99,1,Let There Be Rock,Rock
8,Love In An Elevator,"Steven Tyler, Joe Perry",0.99,1,Big Ones,Rock
9,Janie's Got A Gun,"Steven Tyler, Tom Hamilton",0.99,1,Big Ones,Rock
10,Deuces Are Wild,"Steven Tyler, Jim Vallance",0.99,1,Big Ones,Rock
11,Angel,"Steven Tyler, Desmond Child",0.99,1,Big Ones,Rock
12,Right Through You,Alanis Morissette & Glenn Ballard,0.99,1,Jagged Little Pill,Rock
13,Not The Doctor,Alanis Morissette & Glenn Ballard,0.99,1,Jagged Little Pill,Rock
14,Bleed The Freak,Jerry Cantrell,0.99,1,Facelift,Rock
15,Confusion,"Jerry Cantrell, Michael Starr, Layne Staley",0.99,1,Facelift,Rock
16,Por Causa De Você,None,0.99,1,Warner 25 Anos,Jazz
17,Angela,None,0.99,1,Warner 25 Anos,Jazz
18,Master Of Puppets,Apocalyptica,0.99,1,Plays Metallica By Four Cellos,Metal
19,Welcome Home (Sanitarium),Apocalyptica,0.99,1,Plays Metallica By Four Cellos,Metal
20,Set It Off,Audioslave/Chris Cornell,0.99,1,Audioslave,Rock
21,Your Time Has Come,"Cornell, Commerford, Morello, Wilk",0.99,1,Out Of Exile,Alternative & Punk
22,Dandelion,"Cornell, Commerford, Morello, Wilk",0.99,1,Out Of Exile,Alternative & Punk
23,Rock 'N' Roll Music,Chuck Berry,0.99,1,BackBeat Soundtrack,Rock And Roll
24,Moon germs,Billy Cobham,0.99,1,The Best Of Billy Cobham,Jazz
25,Super Terrorizer,None,0.99,1,Alcohol Fueled Brewtality Live! [Disc 1],Metal
26,Heart Of Gold,None,0.99,1,Alcohol Fueled Brewtality Live! [Disc 2],Metal
27,Evil Woman,None,0.99,1,Black Sabbath,Metal
28,Cornucopia,"Tony Iommi, Bill Ward, Geezer Butler, Ozzy Osb...",0.99,1,Black Sabbath Vol. 4 (Remaster),Metal
29,Bowels Of The Devil,None,0.99,1,Body Count,Alternative & Punk
30,Body Count Anthem,None,0.99,1,Body Count,Alternative & Punk
31,Jerusalem,Roy Z,0.99,1,Chemical Wedding,Metal
32,When My Left Eye Jumps,Al Perkins/Willie Dixon,0.99,1,The Best Of Buddy Guy - The Millenium Collection,Blues
33,Meditação,Tom Jobim - Newton Mendoça,0.99,1,Prenda Minha,Latin
34,Esse Cara,Caetano Veloso,0.99,1,Prenda Minha,Latin

In [32]:
songs['Quantity'].max()

1

In [27]:
len(buyers)

412

In [29]:
# we can do groupby on some column(s) then aggregrate some function(s) on columns that we want
df.groupby(['BillingCountry']).agg({'Total' : ['sum', 'count', 'min', 'max'], 'CustomerId' : 'count'})

                 Total                    CustomerId
                   sum count   min    max      count
BillingCountry
Argentina        37.62     7  0.99  13.86          7
Australia        37.62     7  0.99  13.86          7
Austria          42.62     7  0.99  18.86          7
Belgium          37.62     7  0.99  13.86          7
Brazil          190.10    35  0.99  13.86         35
Canada          303.96    56  0.99  13.86         56
Chile            46.62     7  0.99  17.91          7
Czech Republic   90.24    14  0.99  25.86         14
Denmark          37.62     7  0.99  13.86          7
Finland          41.62     7  0.99  13.86          7
France          195.10    35  0.99  16.86         35
Germany         156.48    28  0.99  14.91         28
Hungary          45.62     7  0.99  21.86          7
India            75.26    13  1.98  13.86         13
Ireland          45.62     7  0.99  21.86          7
Italy            37.62     7  0.99  13.86          7
Netherlands      40.62     7  0.99  13.86          7
Norway           39.62     7  0.99  15.86          7
Poland           37.62     7  0.99  13.86          7
Portugal         77.24    14  0.99  13.86         14
Spain            37.62     7  0.99  13.86          7
Sweden           38.62     7  0.99  13.86          7
USA             523.06    91  0.99  23.86         91
United Kingdom  112.86    21  0.99  13.86         21

In [19]:
df.groupby(['BillingCountry']).sum()

                InvoiceId  CustomerId   Total
BillingCountry
Argentina            1729         392   37.62
Australia            1043         385   37.62
Austria              1568          49   42.62
Belgium              1428          56   37.62
Brazil               7399         329  190.10
Canada              11963        1309  303.96
Chile                1176         399   46.62
Czech Republic       3143          77   90.24
Denmark              1288          63   37.62
Finland              1757         308   41.62
France               7168        1435  195.10
Germany              4697         791  156.48
Hungary              1617         315   45.62
India                2758         760   75.26
Ireland              1477         322   45.62
Italy                1337         329   37.62
Netherlands          1610         336   40.62
Norway               1162          28   39.62
Poland               1470         343   37.62
Portugal             2870         483   77.24
Spain                1743         350   37.62
Sweden               1190         357   38.62
USA                 19103        2002  523.06
United Kingdom       4382        1113  112.86

In [30]:
cntry = pd.read_sql_query("SELECT BillingCountry, SUM(Total), AVG(Total), COUNT(Total), MAX(Total), MIN(Total), BillingCity, Total FROM invoices GROUP BY BillingCountry", db)
cntry

,BillingCountry,SUM(Total),AVG(Total),COUNT(Total),MAX(Total),MIN(Total),BillingCity,Total
0,Argentina,37.62,5.374286,7,13.86,0.99,Buenos Aires,0.99
1,Australia,37.62,5.374286,7,13.86,0.99,Sidney,0.99
2,Austria,42.62,6.088571,7,18.86,0.99,Vienne,0.99
3,Belgium,37.62,5.374286,7,13.86,0.99,Brussels,0.99
4,Brazil,190.10,5.431429,35,13.86,0.99,Rio de Janeiro,0.99
5,Canada,303.96,5.427857,56,13.86,0.99,Yellowknife,0.99
6,Chile,46.62,6.660000,7,17.91,0.99,Santiago,0.99
7,Czech Republic,90.24,6.445714,14,25.86,0.99,Prague,0.99
8,Denmark,37.62,5.374286,7,13.86,0.99,Copenhagen,0.99
9,Finland,41.62,5.945714,7,13.86,0.99,Helsinki,0.99
10,France,195.10,5.574286,35,16.86,0.99,Bordeaux,0.99
11,Germany,156.48,5.588571,28,14.91,0.99,Frankfurt,0.99
12,Hungary,45.62,6.517143,7,21.86,0.99,Budapest,0.99
13,India,75.26,5.789231,13,13.86,1.98,Delhi,1.98
14,Ireland,45.62,6.517143,7,21.86,0.99,Dublin,0.99
15,Italy,37.62,5.374286,7,13.86,0.99,Rome,0.99
16,Netherlands,40.62,5.802857,7,13.86,0.99,Amsterdam,0.99
17,Norway,39.62,5.660000,7,15.86,0.99,Oslo,0.99
18,Poland,37.62,5.374286,7,13.86,0.99,Warsaw,0.99
19,Portugal,77.24,5.517143,14,13.86,0.99,Lisbon,0.99
20,Spain,37.62,5.374286,7,13.86,0.99,Madrid,0.99
21,Sweden,38.62,5.517143,7,13.86,0.99,Stockholm,0.99
22,USA,523.06,5.747912,91,23.86,0.99,Mountain View,0.99
23,United Kingdom,112.86,5.374286,21,13.86,0.99,Edinburgh,0.99

In [29]:
# most popular type of query!
table = pd.read_sql_query("SELECT * from albums", db)

In [20]:
table

     AlbumId                                              Title  ArtistId
0          1              For Those About To Rock We Salute You         1
1          2                                  Balls to the Wall         2
2          3                                  Restless and Wild         2
3          4                                  Let There Be Rock         1
4          5                                           Big Ones         3
5          6                                 Jagged Little Pill         4
6          7                                           Facelift         5
7          8                                     Warner 25 Anos         6
8          9                     Plays Metallica By Four Cellos         7
9         10                                         Audioslave         8
10        11                                       Out Of Exile         8
11        12                                BackBeat Soundtrack         9
12        13                           The Best Of Billy Cobham        10
13        14           Alcohol Fueled Brewtality Live! [Disc 1]        11
14        15           Alcohol Fueled Brewtality Live! [Disc 2]        11
15        16                                      Black Sabbath        12
16        17                    Black Sabbath Vol. 4 (Remaster)        12
17        18                                         Body Count        13
18        19                                   Chemical Wedding        14
19        20   The Best Of Buddy Guy - The Millenium Collection        15
20        21                                       Prenda Minha        16
21        22                              Sozinho Remix Ao Vivo        16
22        23                                     Minha Historia        17
23        24                                     Afrociberdelia        18
24        25                                    Da Lama Ao Caos        18
25        26                                Acústico MTV [Live]        19
26        27                                Cidade Negra - Hits        19
27        28                                           Na Pista        20
28        29                                     Axé Bahia 2001        21
29        30                       BBC Sessions [Disc 1] [Live]        22
..       ...                                                ...       ...
317      318                           SCRIABIN: Vers la flamme       250
318      319  Armada: Music from the Courts of England and S...       251
319      320                    Mozart: Symphonies Nos. 40 & 41       248
320      321                                      Back to Black       252
321      322                                              Frank       252
322      323              Carried to Dust (Bonus Track Version)       253
323      324          Beethoven: Symphony No. 6 'Pastoral' Etc.       254
324      325                   Bartok: Violin & Viola Concertos       255
325      326             Mendelssohn: A Midsummer Night's Dream       256
326      327                 Bach: Orchestral Suites Nos. 1 - 4       257
327      328      Charpentier: Divertissements, Airs & Concerts       258
328      329                             South American Getaway       259
329      330                            Górecki: Symphony No. 3       260
330      331                           Purcell: The Fairy Queen       261
331      332                      The Ultimate Relexation Album       262
332      333                  Purcell: Music for the Queen Mary       263
333      334                       Weill: The Seven Deadly Sins       264
334      335  J.S. Bach: Chaconne, Suite in E Minor, Partita...       265
335      336  Prokofiev: Symphony No.5 & Stravinksy: Le Sacr...       248
336      337                   Szymanowski: Piano Works, Vol. 1       266
337      338                        Nielsen: The Six Symphonies       267
338      339  Great Recordings of the Century: Paganini's 24...       268
339      340        Liszt - 12 Études D'Execution Transcendante       269
340      341  Great Recordings of the Century - Shubert: Sch...       270
341      342  Locatelli: Concertos for Violin, Strings and C...       271
342      343                             Respighi:Pines of Rome       226
343      344  Schubert: The Late String Quartets & String Qu...       272
344      345                                Monteverdi: L'Orfeo       273
345      346                              Mozart: Chamber Music       274
346      347  Koyaanisqatsi (Soundtrack from the Motion Pict...       275

[347 rows x 3 columns]

In [21]:
tracks = pd.read_sql_query("""
    SELECT trackid,
        name,
         composer,
         unitprice
    FROM
     tracks;
    """, db)

In [22]:
tracks.head()

,TrackId,Name,Composer,UnitPrice
0,1,For Those About To Rock (We Salute You),"Angus Young, Malcolm Young, Brian Johnson",0.99
1,2,Balls to the Wall,None,0.99
2,3,Fast As a Shark,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",0.99
3,4,Restless and Wild,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",0.99
4,5,Princess of the Dawn,Deaffy & R.A. Smith-Diesel,0.99

In [ ]:
# Exercise !
# Create full tables for playlists and customers

In [31]:
tracklen = pd.read_sql_query("""
    SELECT
     name,
     milliseconds, 
     albumid
    FROM
     tracks
    ORDER BY
     milliseconds DESC;
    """, db)
tracklen.head()

                          Name  Milliseconds  AlbumId
0       Occupation / Precipice       5286953      227
1      Through a Looking Glass       5088838      229
2  Greetings from Earth, Pt. 1       2960293      253
3      The Man With Nine Lives       2956998      253
4  Battlestar Galactica, Pt. 2       2956081      253

In [34]:
alltracks = pd.read_sql_query("""
    SELECT
     trackid,
     name,
     title
    FROM
     tracks
    INNER JOIN albums ON albums.albumid = tracks.albumid;
    INNER JOIN albums ON albums.albumid = tracks.albumid;
    """, db)
alltracks.tail()

,TrackId,Name,Title
3498,3499,Pini Di Roma (Pinien Von Rom) \ I Pini Della V...,Respighi:Pines of Rome
3499,3500,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",Schubert: The Late String Quartets & String Qu...
3500,3501,"L'orfeo, Act 3, Sinfonia (Orchestra)",Monteverdi: L'Orfeo
3501,3502,"Quintet for Horn, Violin, 2 Violas, and Cello ...",Mozart: Chamber Music
3502,3503,Koyaanisqatsi,Koyaanisqatsi (Soundtrack from the Motion Pict...

In [36]:
tracksart = pd.read_sql_query("""
    SELECT
     trackid,
     tracks.name TRACK,
     Title,
     artists.name Artist,
     milliseconds/1000 AS Seconds
    FROM
     tracks
    INNER JOIN albums ON albums.albumid = tracks.albumid
    INNER JOIN artists ON albums.artistid = artists.artistid
    ORDER BY Seconds;
    """, db)
tracksart.tail()

,TrackId,TRACK,Title,Artist,Seconds
3498,3227,"Battlestar Galactica, Pt. 2","Battlestar Galactica (Classic), Season 1",Battlestar Galactica (Classic),2956
3499,3242,The Man With Nine Lives,"Battlestar Galactica (Classic), Season 1",Battlestar Galactica (Classic),2956
3500,3244,"Greetings from Earth, Pt. 1","Battlestar Galactica (Classic), Season 1",Battlestar Galactica (Classic),2960
3501,3224,Through a Looking Glass,"Lost, Season 3",Lost,5088
3502,2820,Occupation / Precipice,"Battlestar Galactica, Season 3",Battlestar Galactica,5286

In [37]:
tracksart.head()

   TrackId                     TRACK           Title         Artist  Seconds
0     2461  É Uma Partida De Futebol  O Samba Poconé          Skank        1
1      168                Now Sports      Body Count     Body Count        4
2      170               A Statistic      Body Count     Body Count        6
3      178                     Oprah      Body Count     Body Count        6
4     3304              Commercial 1   House of Pain  House Of Pain        7

In [39]:
# Exercise add Track length to our query